@font-face {
    font-family: 'jetbrains_monomedium_italic';
    src: url('fonts/jetbrainsmono-medium-italic-webfont.woff2') format('woff2'),
         url('fonts/jetbrainsmono-medium-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    font-family: 'jetbrains_monomedium_italic';
}

.sidebar{
    background-image: url(img/girlwithHeadphones4.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    min-width: 500px;
    height: 100vh;
    justify-content: center;
}

.sidebar p{
    font-size: 5em;
    color: rgb(240, 255, 155);
    width: 100%;
    height: 7%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.formSection{
    background-color: rgb(240, 243, 245);
    width: 100%;
    padding-left:40px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer form{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(90, 74, 74);
}

form div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    font-size: 12px;
}

label{
    margin-bottom: 5px;
}
button{
    margin: 50px;
    font-weight: bold;
    font-size: large;
    color: white;
    width: 15%;
    height: 5%;
    background-color: rgb(62, 146, 62);
    border-radius: 10px;
    border-style: none;
    box-shadow: 3px 3px 3px rgb(90, 74, 74);
}

button:hover{
    background-color: aliceblue;
    border-width: 1px;
    border-color: black;
    color: rgb(62, 146, 62);
    border-style: solid;
}

input{
    height: 1.5rem;
    font-size: 1rem;
    outline: none;
    border-radius: 5px; 
    border: 1px solid #E5E7EB;
}

input:focus{
    border: 2px solid #55abf1;
    box-shadow: 1px 1px 5px rgb(90, 74, 74);
    
}